body {
    margin: 0;
    padding: 0;
    background-color: #6c9d21; 
    background-image: url(https://img.freepik.com/vetores-gratis/campo-de-futebol-verde_225004-1137.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    list-style-type: none;
    
}

header {
    background-color: #6c9d21;

}

h1 {
    text-align: center;
    
    color: black;
    margin: 0px;
    font-size: 70px;
}

.primeiro_div {
    
    color: black;
    font-size: 20px;
}

h2 {
    margin-left: 20px;
    font-size: 50px;
    text-align: center;      
}

h3 {
    margin-left: 20px;
    font-size: 35px;
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {margin: 20px;}

table, td, th {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    padding: 10px;
    
}

.jogadores {
    border: solid 5px   black;
}